.post{
    width: 300px;
    margin: auto;
    padding: 30px;
    background-color: whitesmoke;
    border: 1px solid silver;
    border-radius: 2px;
    box-shadow: 10px 5px 5px whitesmoke;
}

.post img{
    width: 80%;
    height: 40%;
}
